async-generator
attrs
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
cryptography
DateTime
fake-useragent
h11
idna
lxml
numpy
outcome
pandas
prettytable
pycparser
pyOpenSSL
PySocks
python-dateutil
pytz
requests
selenium
six
sniffio
sortedcontainers
soupsieve
stem
trio
trio-websocket
urllib3
wcwidth
wsproto
zope.interface
