@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');
@import url('https://fonts.googleapis.com/css2?family=Coda');

* {
	margin: 0%;
	padding: 0%;
	color: white;
	font-family: 'Fira Code';
}

body {
	background: radial-gradient(circle, rgb(174, 10, 10) 50%, rgba(39,39,39,1) 100%);
}

.navbar {
	padding: 2%;
	background-color: #171720;
	align-items: center;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	flex-direction: column;
}

	.navbar ul {
		display: flex;
		justify-content: space-between;
		list-style: none;
		font-size: 18px;
		width: 25%;
		margin: 0%;
		padding: 0%;
		align-items: center;
	}

	.navbar h1 {
		font-family: 'Coda';
		font-size: 300%;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 5px;
	}

	.navbar li {
		padding: 2%;
		font-family: 'Roboto' !important;
	}

	.navbar a:hover {
		text-decoration: none;
		font-size: 20px;
	}	

h4 {
	margin: 3% !important;
	font-weight: bold !important;
}

.container {
  margin: 0 auto;
}

form > p {
	font-weight: bold;
}

/* Card starts*/

.card {
	border-radius: 15px !important;
	margin: 3% 7%;
	box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3), -2px -2px 3px 0 rgba(255, 255, 255, 0.3);
	border: 3px solid var(--currentColor) !important;
	backdrop-filter: blur( 4px );
	background-color: #171720 !important;
}

.card-header {
	padding: 1% 2% !important;
	border-radius: 15px !important;
	font-size: 200%;
	font-family: 'Roboto';
	font-weight: bold;
	box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3);
	text-shadow: 2px 2px 2px black;
	text-transform: uppercase;
}

.card-body {
	padding: 2% !important;
	font-size: 120%;
}

.div_child{   
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll; 
	overflow-x: scroll;
	max-height:500px;
}

.div_child::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.div_parent{
	position:relative;
	width: 100%;
    height: 100%;
	overflow: hidden;
}

.Copy_Btn{
	opacity: 0.8;
	position:absolute; 
	top:120px;
	right:150px;
	z-index:1;
	transition: 500ms linear;
}

#Copy_Btn:hover{
	opacity: 1.0;
	position:absolute; 
	top:120px;
	right:150px;
	z-index:1;
}

#loading_form_spinner{
	display: block;
	position:absolute; 
	z-index:1;
	justify-content: center;
	text-align: center;
	align-items: center;
  	height: 100%;
	width: 100%;
}

#loading_text_form_spinner{
	animation: loading_text_form_spinner 1s linear infinite;
}

@keyframes loading_text_form_spinner {
	50% {
	  opacity: 0;
	}
  }
  

  #settings_section{
	display: flex;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin: 3% 3% 3% 0%;
	background-color: black;
	border: 5px solid rgb(174, 10, 10);
	text-align: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
  }

  #settings_section:hover{

	background-color:rgb(174, 10, 10);
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 5px 15px rgb(174, 10, 10);
  }

  #settings_icon{
  	width: 40px;
	height: 40px;
	margin: auto;
  }

  #settings_icon:active{
	animation: settings_icon 2s infinite linear;
  }

  @keyframes settings_icon {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }


  #Form_Div_Card{
	background-color: #171720 !important;
	color: #171720 !important;
  }

  #Link_form{
	background-color: #171720 !important;
	color: #171720 !important;
  }

  input[type=text]{
	color: #171720 !important;
	border-radius: 25px;
	border: 5px solid rgb(174, 10, 10);
    padding: 20px; 
	margin: 3% 3% 3% 3%;
    width: 60%;
    height: 50px;
  }

  input[type=text]:hover{
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 5px 15px rgb(174, 10, 10);
  }

  #Submit_Link_Btn{
	border-radius: 25px;
	padding: 0% 0.5%;
	border-radius: 30px;
	margin: 3% 3% 3% 0%;
	width: auto;
	background-color: #171720;
	color: white;
	border: 5px solid rgb(174, 10, 10);
	transition: all 0.2s ease-in-out;
  }

  #Submit_Link_Btn:hover{
	background-color: rgb(174, 10, 10);
	font-weight: bolder;
	-webkit-transition: color 3s linear;
	-moz-transition: color 3s linear;
	-ms-transition: color 3s linear;
	-o-transition: color 3s linear;
	transition: color 3s linear;
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 5px 15px rgb(174, 10, 10);
  }

  .input-group{
	text-align: center;
	vertical-align: middle;
  }

  #Open_Settings{
	
	padding-bottom: 10px;
  }

  input[type=checkbox]{
	width: 25px;
	height: 25px;
  }
  
.round_checkbox{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: rgb(174, 10, 10);
	margin-right: 5px;
}

label{
	margin: 0 15px 0 5px;
}

  