{% extends 'base.html' %}

{% block title %}
Search
{% endblock %}
{% load static %}

{% block Enter_URL %}

<form class="" name="link_form" onsubmit="return show_spinner()" action="{% url 'home' %}" method="post">
    {% csrf_token %}

    <p style="text-align:left; margin: 5% 13% 0% 13%;">Drop a Website URL</p>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Enter Link</span>
        </div>

        <input type="text" class="form-control" name="link" value="" placeholder="Drop a Website URL" autocomplete="off">

        <div class="input-group-append">
          <button type="submit" data-toggle="modal"  data-target ="#modal" name="button_link" value="button_link" class="btn btn-dark" >Submit Link</button>
        </div>
    </div>

</form>



  <div id="loading_form_spinner" hidden="false">
    <!-- <div id="loading_form_spinner" hidden="true"> -->
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> 
      <lottie-player src="{% static 'assets/spider.json'%}" background="transparent" speed="1" style="width: 300px; height: 300px; text-align: center; margin: 0 auto;" loop autoplay></lottie-player>
      <p style="text-align:center; font-size: large; ">
        <strong>Loading ...</strong> 
      </p>
   </div>


<div id="result_content">

  {% if URL|length > 0 %}


  <nav class="card navbar navbar-dark bg-dark">
    <ul class="nav navbar-nav" style="flex-direction: row;">
      <li class="active"><a href="#" onclick="hideTable();">Data Dictonary</a></li>
      <li><a href="#" onclick="hideDataDictonary();">Table</a></li>
    </ul>
  </nav>

  {% if Data_Dictonary != "None" %}


  <div id="Table_Div" class="div_parent p-1">
    <p class="card-title" style="text-align:left; margin: 0% 0% 0% 13%;"><b>Table :- </b></p>
    <div id="Table_child" class="div_child card p-3 bg-dark text-white">
      <p class="card-text">{{Table|safe}}</p>
      </div>
      <button id="Copy_Table_Btn" type="button" class="Copy_Btn btn btn-danger ">
        <b>Download <span><img style="height: 25px;width:25px;" src="{% static 'assets/copy_icon.svg'%}"></span> </b>
  </div>

  <div id="Data_Dictonary_Div" class="div_parent p-1">
    <p class="card-title" style="text-align:left; margin: 0% 0% 0% 13%;"><b>Data dictionary :- </b></p>
    <div id="Data_Dictonary_child" class="div_child card p-3 bg-dark text-white">
    <p class="card-text">{{Data_Dictonary}}</p>
    </div>
    <button id="Copy_JSON_Btn" type="button" class="Copy_Btn btn btn-danger ">
      <b>Copy <span><img style="height: 25px;width:25px;" src="{% static 'assets/copy_icon.svg'%}"></span> </b>
    </button>
  
  </div>

</div>

</div>

{% else %}

{% if ERROR_MSG != "" %}
<p style="text-align:left; margin: 5% 13% 0% 13%;"><b>Unable to scrape the {{URL}} !</b></p>
{% endif %}

{% endif %}

{% endif %}

<!-- Script Section -->


<script>

  // Adding Listners for Loading Spinner after Form Submit !
  function show_spinner(){
    console.log("Inside the Show Spinner function ");
    result_content = document.getElementById("result_content");
    result_content.hidden = true;
    spinner_div = document.getElementById("loading_form_spinner");
    spinner_div.hidden = false;
    return true;
  }
  
  
  //  Functionality for Downloading and Copying to clipboard ! 
  
    document.getElementById("Table_Div").hidden = true;
    function hideTable(){
      document.getElementById("Table_Div").hidden = true;
      document.getElementById("Data_Dictonary_Div").hidden = false;
    }
  
    function hideDataDictonary(){
      document.getElementById("Table_Div").hidden = false;
      document.getElementById("Data_Dictonary_Div").hidden = true;
    }
  
    var Copy_JSON_Btn = document.getElementById("Copy_JSON_Btn")
    Copy_JSON_Btn.addEventListener("click", function() {
      copyToClipboard(document.getElementById("Data_Dictonary_child"),Copy_JSON_Btn);
  });
  
  var Copy_Table_Btn = document.getElementById("Copy_Table_Btn")
  Copy_Table_Btn.addEventListener("click", function() {
    console.log("{{Excel_File_Location}}");
    downloadExcelFile();
    Copy_Table_Btn.innerText = "Downloaded !";
    Copy_Table_Btn.className = "Copy_Btn btn btn-success";
  });
  
  function downloadExcelFile(csv_data) {
  
   var temp_link = document.createElement('a');
  
   temp_link.href = "/download";
  
   // This link should not be displayed
   temp_link.style.display = "none";
   document.body.appendChild(temp_link);
  
   // Automatically click the link to trigger download
   temp_link.click();
   document.body.removeChild(temp_link);
  
  }
  
  function tableToCSV() {
   
   // Variable to store the final csv data
   var csv_data = [];
   // Get each row data
   var rows = document.getElementsByTagName('tr');
  
   for (var i = 0; i < rows.length; i++) {
  
       // Get each column data
       var cols = rows[i].querySelectorAll('td,th');
  
       // Stores each csv row data
       var csvrow = [];
       for (var j = 0; j < cols.length; j++) {
  
           // Get the text data of each cell of
           // a row and push it to csvrow
           csvrow.push(cols[j].innerText);
       }
  
       // Combine each column value with comma
       csv_data.push(csvrow.join(","));
   }
   // combine each row data with new line character
   csv_data = csv_data.join('\n');
  
   /* We will use this function later to download
   the data in a csv file downloadCSVFile(csv_data);
   */
  return csv_data;
  }
  
    function copyToClipboard(elem,copy_btn) {
      navigator.clipboard.writeText(elem.innerText).then(function() {
        /* clipboard successfully set */
        copy_btn.innerText = "Copied !";
        copy_btn.className = "Copy_Btn btn btn-success";
      }, 
      function() {
        /* clipboard write failed */
        window.alert('Opps! Your browser does not support the Clipboard API');
      });
  }
  
  </script>
  

{% endblock %}
